*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --handle-size: 3rem;
  --img-gap: 0.25rem;
}
body {
  margin: 0;
  background-color: #0f171e;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.slider {
  --items-per-screen: 4;
  --slider-index: 0;
  display: flex;
  flex-grow: 1;
  margin: 0 var(--img-gap);
  transform: translateX(calc(var(--slider-index) * -100%));
  transition: transform 250ms ease-in-out;
}
.slider > img {
  flex: 0 0 calc(100% / var(--items-per-screen));
  max-width: calc(100% / var(--items-per-screen));
  aspect-ratio: 16 / 9;
  padding: var(--img-gap);
  border-radius: 1rem;
}
.handle {
  border: none;
  border-radius: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 10;
  width: var(--handle-size);
  margin: var(--img-gap) 0;
  padding: 0 0.5rem;
  cursor: pointer;
  display: flex;
  font-size: 2.5rem;
  justify-content: center;
  align-items: center;
  line-height: 0;
  color: #fff;
  transform: background-color 150ms ease-in-out;
}

.left-handle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.right-handle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.handle:hover,
.handle:focus {
  background-color: rgba(255, 255, 255, 0.5);
}
.text {
  transform: transform 150ms ease-in-out;
}
.handle:hover .text,
.handle:focus .text {
  transform: scale(1.2);
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc(var(--img-gap) * 2 + var(--handle-size));
  align-items: center;
}
.title {
  font-size: 1.25rem;
  margin: 0;
}
.progress-bar {
  display: flex;
  gap: 0.25rem;
}
.progress-item {
  flex: 0 0 1.5rrem;
  min-width: 1.5rem;
  height: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
}
.progress-item.active {
  background-color: rgba(255, 255, 255, 0.9);
}
@media (max-width: 1000px) {
  .slider {
    --items-per-screen: 3;
  }
}
@media (max-width: 500px) {
  .slider {
    --items-per-screen: 2;
  }
}
